<section id="adventages" class="pt-5 pb-5">
  <div class="wrapper container">
    <div class="row">
      <div class="col-md-12 co-sm-12 text-center">
        <h2 class="section-heading display-4 pb-2">Nasze usługi to:</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
        <div class="service-box mt-4">
          <i class="fas fa-briefcase fa-4x text-primary mb-3"></i>
          <h3 class="mb-3">Sprzedaż</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
        <div class="service-box mt-4">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3"></i>
          <h3 class="mb-3">Dzierżawa</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
        <div class="service-box mt-4">
          <i class="fas fa-server fa-4x text-primary mb-3"></i>
          <h3 class="mb-3">Serwis</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6  text-center">
        <div class="service-box mt-4">
          <i class="fab fa-whmcs fa-4x text-primary mb-3"></i>
          <h3 class="mb-3">Naprawa</h3>
        </div>
      </div>
    </div>
  </div>
</section>