{% load menu_tags %}
{% load cms_tags %}

<div class="row">
  {% for child in children %}
    
    <div class="col-sm-4">
      <div class="shadow card product-card">
        {% show_placeholder "main_image" child.id %}
        <div class="card-body">
          <h5 class="card-title">{{ child.get_menu_title }}</h5>
          {% show_placeholder "product_desc" child.id as desc %}
          <p class="card-text">{{ desc|truncatechars:45 }}</p>
          <a href="{{ child.get_absolute_url }}" class="btn btn-primary">Zobacz</a>
        </div>
      </div>
    </div>
    
  {% endfor %}
</div>
