<section class="contact-cta-section pt-5 pb-5">
  <div class="container">
    <div class="row mt-5 mb-5">

      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="pt-3 pb-4 font-weight-bold">Zainteresowany? Zostaw swoje namiary</h2>
      </div>

      <div class="col-md-12 col-sm-12">
        <form class="cta-contact">
            <div class="col-md-12 col-sm-12">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <input type="text" class="form-control" placeholder="Telefon lub e-mail">
                </div>
                <div class="col-md-6 col-sm-12">
                  <button type="submit" class="btn btn-primary btn-block">Wyślij</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-12 col-sm-12 text-center pt-3">
        <div class="muted"><p>Zapewniamy, że skontaktujemy się z Tobą w możliwie najszybszym terminie.</p></div>
      </div>
    </div>
  </div>
</section>