{% load cms_tags staticfiles %}

<footer class="footer-2 bg-light text-muted">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="company-logo text-center">
          <img src="{% static 'img/logo.png' %}" />
        </div>
        <div class="company-info">
          {% static_placeholder 'footer' %}
        </div>
      </div>
    </div>
    <div class="row copyright">
      <div class="col-md-6 col-sm-12 text-md-left text-center">
        <p>Copyright © {% now 'Y' %} {{ request.get_host }} w Lęborku. All Rights Reserved.</p>
      </div>
      <div class="col-md-6 col-sm-12 text-md-right text-center">
        <a href="mailto:miks.szymon@gmail.com">Design: miks.szymon@gmail.com</a>
      </div>
    </div>
  </div>
</footer>