{% load menu_tags %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 text-left">
      <div class="module">
        <i class="fas fa-map-marker"></i>
        <span class="sub">
          <a href="https://goo.gl/maps/2DsCyC95Nqn">WW Service</a>
        </span>
      </div>

      <div class="module left">
        <i class="fas fa-phone"></i>
        <span class="sub">Tel. <a href="tel:+48506126056">506 126 056</a></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 text-right">
      <div class="module">
        <i class="far fa-envelope"></i>
        <span class="sub">E-mail: <a href="mailto:wwiczkowski@wp.pl">wwiczkowski@wp.pl</a></span>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="home">
    <i class="fas fa-home"></i>
    <a class="navbar-brand" href="/">WW Service</a>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% show_menu 0 1 100 100 "menu.html" %}
    </ul>
  </div>
</nav>