{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-left">
        <h1 class="mt-4 product-title">{% page_attribute "page_title" %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        {% placeholder "main_image" %}
      </div>
      <div class="col-sm-6">
        <div class="product-availability mb-2"><span class="badge badge-success">Produkt dostępny</span></div>
        <div class="sell-info mb-3 shadow">
          <div class="product-price mb-1">
            <p class="price font-weight-bold">Cena: <span>{% placeholder "product_price" or %}6500
              zł{% endplaceholder %} </span></p>
          </div>

          <div class="product-contact">
            <p class="font-weight-bold mb-2">Kontakt:</p>
            <div class="mb-1"><i class="fas fa-mobile-alt"></i><a href="tel:+48506126056">506126056</a></div>
            <div><i class="far fa-envelope"></i><a href="mailto:miks.szymon@gmail.com">miks.szymon@gmail.com</a></div>
          </div>
        </div>

        <div class="important-info alert alert-warning shadow-sm mt-4">
          <i class="fa fa-info-circle"></i>
          Jeśli potrzebujesz więcej informacji wyślij do nas wiadomość.
          Jeżeli chcesz uzyskać odpowiedź jak najszybciej zadzwoń pod numerem telefonu podany powyżej.
        </div>

      </div>

      <div class="col-sm-12">
        <div class="product-description mt-5">
          <h2 class="mt-4 product-title">Opis produktu</h2>
          {% placeholder "product_desc" %}
        </div>
      </div>

      <div class="col-sm-12">
        <h3 class="mt-4 product-title">Galeria</h3>
        {% placeholder "product_gallery" %}
      </div>
    </div>
  </div>

{% endblock content %}
