.gallery-standard img {
    width: 100%;
}

.navbar-nav li {
    padding: 0 15px;
}

.dropdown-menu li a {
    color: #222 !important;
}

/* img {
    width: 100%;
} */

.content {
    font-size: 1.1rem;
}

.errorlist {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer {
    padding-top: 1.8rem;
    padding-bottom: 1.4rem;
    border-top: 1px solid #9F928A;
}

.bg-primary {
    background-color: #523D2F !important;
}

.btn-primary {
    color: #fff;
    background-color: #513d30 !important;
    border-color: #513d30 !important;
}

.footer-2 a, .footer-2 p {
    color: #fff;
}

.footer-2 {
    background-color: #9E775A !important;
}

.company-info {
    font-size: 18px;
}

.product-card {
    transition: 0.25s;
}

.product-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}